<div class="ser">
  <%= link_to anime.title, anime_path(anime.id), class: "ser-t nowrap" %>
  <div class="ser-s">
    <%= anime.genres.join(', ') %>
  </div>
  <div class="ser-d">
    Рейтинг <%= anime.rating.to_f.round(1) %> из 10
    <% if anime.updated_at.today? %>
      Обновлено <%= anime.updated_at.strftime("%H:%M") %>
    <% end %>
  </div>
  <div class="ser-i img-box ps-link" data-link="<%= anime_path(anime.id) %>">
    <span class="topicImage" style="background-image: url(<%= anime.posters[0] %>);"></span>
    <span class="fa fa-play-circle"></span>
  </div>
</div>