<!-- topside -->
<!--<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<!--<ins class="adsbygoogle"-->
<!--     style="display:block;margin-left:-18px;margin-right:-18px;"-->
<!--     data-ad-client="ca-pub-5548459704131146"-->
<!--     data-ad-slot="5403532046"-->
<!--     data-ad-format="auto"-->
<!--     data-full-width-responsive="true"></ins>-->
<!--<script>-->
<!--    (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--</script>-->
<!-- end topside ad -->

<article class="full">
  <%= hidden_field_tag 'page_id', @anime.id %>
  <header class="full_header">
    <div class="full_header-bg" id="full_header-bg">
      <div class="full_header__bg-img" style="background-image: url(<%= url_for(@anime.background_attachment_path) %>);"></div>
    </div>
    <div class="full_header-inner">
      <div class="full_header-title" id="full_header-title">
        <div class="full_content-poster img_box">
          <%= image_tag @anime.background_attachment_path, 'data-src': @anime.background_attachment_path, class: "b-lazy" %>
        </div>
        <h1>
          <%= @anime["title"] %>
        </h1>
        <div class="full_header-subtitle" itemprop="alternateName">
          <%= @anime["title_en"] %>
        </div>
      </div>
      <div class="full_header-actions">
        <a href="#translators" class="scrolla ic-l to_view  action-header__btn button">
          <svg class="svg-inline--fa fa-play fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
            <path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path>
          </svg>
          <span class="fas fa-play"></span> Смотреть онлайн!
        </a>
        <% if @anime.youtube_trailer_url? %>
          <%= link_to raw('<span class="fab fa-youtube"></span>Трейлер'),
                      @anime.youtube_trailer_url,
                      target: '_blank',
                      class: 'scrolla ic-l to_trailer action-header__btn button' %>
        <% end %>
        <% if current_admin %>
          <%= link_to raw('<i class="fas fa-edit"></i>Редактировать'),
                      # working only with id
                      "/admin/panel/anime/#{@anime.id}",
                      class: 'scrolla ic-l action-header__btn button' %>
        <% end %>
      </div>
    </div>
  </header>
  <div class="full-desc">
    <div class="full-text clearfix video-box">
      <div class="full-poster ignore-select" id="full-poster">
        <div class="f-poster">
          <%= image_tag @anime.poster_attachment_path, 'data-enlargable': true, style: 'cursor: zoom-in' %>
        </div>
        <div class="btn-group-vertical" id="anime_status">
<!--          <button type="button" class="btn btn-secondary">Не указано</button>-->
          <button type="button" class="btn btn-secondary" data-status="inprogress">Смотрю</button>
          <button type="button" class="btn btn-secondary" data-status="planed">Запланировано</button>
          <button type="button" class="btn btn-secondary" data-status="completed">Просмотрено</button>
          <button type="button" class="btn btn-secondary" data-status="favorite">Любимое</button>
          <button type="button" class="btn btn-secondary" data-status="throw">Брошено</button>
        </div>
      </div>
      <div class="full-info clearfix ignore-select">
        <div class="fi-col">
          <div class="fi-col-item"><span>Год выхода:</span> <%= @anime["year"] %></div>
          <div class="fi-col-item"><span>Статус:</span> <%= @anime["status"] %></div>
          <div class="fi-col-item"><span>Тип:</span> <%= @anime["type"] %></div>
          <div class="fi-col-item"><span>Жанры:</span> <%= @anime.genres_list.join(', ') %></div>
          <div class="fi-col-item"><span>Страны:</span> <%= @anime["countries"].join(', ') %></div>
          <div class="fi-col-item"><span>Режиссер:</span> <%= @anime["directors"][0] %></div>
          <div class="fi-col-item"><span>Студия:</span> <%= @anime["studios"][0] %></div>
        </div>
        <div class="full-infos"><%= @anime["description"] %></div>
      </div>
    </div>
    <div class="full-taglist ignore-select">
      <div class="full-taglist-t">Теги:</div>
      <%= @anime.genres_list.join(', ') %>
    </div>
  </div>

  <% if @anime.blocked_ru or @anime.blocked_ua %>
    <div class="alert alert-danger" role="alert">
      Заблокировано по требованию владельца
    </div>
  <% else %>
    <div class="accordion" id="translators">
      <% @anime.translators.each do |tr| %>
        <div class="card">
          <div class="card-header translator-header" id="translator-title-<%= tr.id %>">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#translator-btn-<%= tr.id %>" aria-expanded="false" aria-controls="translator-btn-<%= tr.id %>">
                <%= tr.name %>
              </button>
            </h5>
          </div>

          <div id="translator-btn-<%= tr.id %>" class="collapse translator-body" aria-labelledby="translator-title-<%= tr.id %>" data-parent="#translators">
            <div class="card-body">

              <div class="episodes">
                <% tr.episodes.order(created_at: :asc).each_with_index do |episode, index| %>
                  <%= content_tag(:div, index + 1,
                                  'data-id': episode.id,
                                  'data-href': episode.stream_url,
                                  'data-translator-id': tr.id,
                                  class: "video-button") %>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="tabs-box ignore-select">
    <div class="embed-responsive embed-responsive-16by9 hide" id="player">
      <iframe src="" class="embed-responsive-item" allowfullscreen></iframe>
    </div>
  </div>
</article>
