<article class="full">
  <div class="full-title ignore-select">
<!--    [not-group=5][edit]<span class="fa fa-bars" title="Редактировать"></span>[/edit][/not-group]-->
  </div>
  <header class="full_header">
    <div class="full_header-bg" id="full_header-bg">
      <div class="full_header__bg-img" style="background-image: url(<%= @anime["posters"][0] %>);"></div>
    </div>
    <div class="full_header-inner">
      <div class="full_header-title" id="full_header-title">
        <div class="full_content-poster img_box">
          <img itemprop="image" class="b-lazy" src="<%= @anime["posters"][0] %>" data-src="<%= @anime["posters"][0] %>" alt="{title}">
        </div>
        <h1>
          <%= @anime["title"] %>
        </h1>
        <div class="full_header-subtitle" itemprop="alternateName">
          <%= @anime["title_en"] %>
        </div>
      </div>
      <div class="full_header-actions">
        <a href="#tabs_box" class="scrolla ic-l to_view  action-header__btn button">
          <svg class="svg-inline--fa fa-play fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
            <path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path>
          </svg>
           <span class="fas fa-play"></span> Смотреть онлайн!
        </a>
<!--        [not-catlist=14,15][xfgiven_season][xfgiven_serija]-->
<!--        <a href="#tabs_box" class="scrolla ic-l to_trailer action-header__btn button" data-target="trailer" title="{title}">-->
<!--           <span class="fab fa-youtube"></span>[xfvalue_season] ([xfvalue_serija])-->
<!--        </a>-->
<!--        [xfgiven_season][xfgiven_serija][/not-catlist]-->
      </div>
    </div>
  </header>
  <div class="full-desc">
    <div class="full-text clearfix video-box">
      <div class="full-poster ignore-select" id="full-poster">
        <div class="f-poster">
          <a href="<%= @anime["posters"][0] %>" onclick="return hs.expand(this)">
            <%= image_tag @anime["posters"][0] %>
          </a>
        </div>
      </div>
      <div class="full-info clearfix ignore-select">
        <div class="fi-col">
          <div class="fi-col-item"><span>Год выхода:</span> <%= @anime["year"] %></div>
          <div class="fi-col-item"><span>Статус:</span> <%= @anime["status"] %></div>
          <div class="fi-col-item"><span>Тип:</span> <%= @anime["type"] %></div>
          <div class="fi-col-item"><span>Жанры:</span> <%= @anime["genres"].join(', ') %></div>
          <div class="fi-col-item"><span>Страны:</span> <%= @anime["countries"].join(', ') %></div>
<!--          <div class="fi-col-item"><span>Количество эпизодов:</span> [xfvalue_kolvo-serii]</div>-->
          <div class="fi-col-item"><span>Режиссер:</span> <%= @anime["directors"][0] %></div>
          <div class="fi-col-item"><span>Студия:</span> <%= @anime["studios"][0] %></div>
        </div>
        <div class="full-infos"><%= @anime["description"] %></div>
      </div>
    </div>
    <div class="full-taglist ignore-select">
      <div class="full-taglist-t">Теги:</div>
      <%= @anime["genres"].join(', ') %>
    </div>
  </div>
  <div class="info-btns ic-l ignore-select flex-row">
    <div><span class="fa fa-play"></span>Просмотр онлайн</div>
    <i class="fas fa-bookmark"></i>Добавить в закладки
    <i class="fas fa-heart"></i>Мне нравится
    <i class="fas fa-bug"></i>Сообщить об ошибке
  </div>
  <div class="tabs-box ignore-select">
    <iframe src="http://moonwalk.cc/serial/05637d0c8b3e7e2f23caaa4ab6ce0ee2/iframe?season=01&episode=02&nocontrols=1" width="100%" frameborder="0" allowfullscreen></iframe>
    <div class="tabs-sel">
      <span>Смотреть онлайн</span>
    </div>
    <div class="frate ignore-select" id="frate-{news-id}">
      <div class="rate-plus" id="pluss-1" onclick="doRateLD('plus', '1');"><span class="fa fap fa-thumbs-up"></span><span class="rcount">{views}</span></div>
      <div class="rate-minus" id="minuss-1" onclick="doRateLD('minus', '1');"><span class="rcount">{comments-num}</span><span class="fa fam fa-thumbs-down"></span></div>
      <div class="rate-data">{rating}{vote-num}</div>
    </div>
  </div>
<!--  <div class="rels">-->
<!--    <div class="rel-t">Похожее смотрите:</div>-->
<!--    <div class="rel-c">-->
<!--      {related-news}-->
<!--    </div>-->
<!--  </div>-->
</article>
<!--<div class="full-comms ignore-select" id="full-comms">-->
<!--  <div class="comms-head clearfix">-->
<!--    <div class="comms-title">Комментарии <sup>{comments-num}</sup></div>-->
<!--    <div class="add-commbtn button ic-l" id="add-commbtn"><span class="fa fa-plus"></span>Комментировать</div>-->
<!--  </div>-->
<!--  {addcomments}-->
<!--  [comments]-->
<!--  <div class="comments-items">-->
<!--    {comments}-->
<!--    {navigation}-->
<!--  </div>-->
<!--  [/comments]-->
<!--</div>-->