<div>
  <div class="pb-3">
    <form method="get" id="search-form">
      <div class="inner-form">
        <div class="basic-search">
          <div class="input-field">
            <div class="icon-wrap">
              <i class="fas fa-search"></i>
            </div>
            <input id="search" name="q" type="text" value="" placeholder="Поиск...">
          </div>
        </div>
        <div class="advance-search">
          <span class="desc">Расширенный поиск</span>
          <div class="row">
            <div class="col">
              <label for="year">Год выхода</label>
              <select class="form-control" id="year" name="year">
                <option value="">Не указано</option>
                <% (1978..2019).each do |year| %>
                  <option><%= year %></option>
                <% end %> %>
              </select>
            </div>
            <div class="col">
              <label for="sort_by">Сортировать по</label>
              <select class="form-control" id="sort_by" name="sort_by">
                <option value="">Не указано</option>
                <option value="rating_desc">Рейтингу</option>
                <option value="title_desc">Алфавиту (А-Я)</option>
                <option value="title_asc">Алфавиту (Я-А)</option>
                <option value="year_desc">Дате выхода (сначала новые)</option>
                <option value="year_asc">Дате выхода (сначала старые)</option>
              </select>
            </div>
          </div>
          <div class="row third">
            <div class="input-field">
              <button class="btn-search">Найти</button>
              <button type="button" class="btn-delete" id="reset-form">Сбросить</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <% @animes.each do |anime| %>
    <article class="short__item">
      <a title="<%= anime.title %>" href="<%= anime_path(anime.id) %>">
        <header class="carousel__item-header">
          <div class="short__item-image">
            <figure>
              <img itemprop="image" class="b-lazy" src="<%= anime.posters[0] %>" data-src="<%= anime.posters[0] %>" alt="{title}">
            </figure>
          </div>

          <% if anime.rating %>
            <div class="label label__rate"><%= anime.rating.round(1) %></div>
          <% end %>

          <div class="label label__play">
            <%= image_tag 'play.png', alt: 'Смотреть' %>
          </div>

          <div class="label label__rating">
            <div class="short-rate-perc">{rating}{vote-num}</div>
          </div>

          <% if anime.year != 0 %>
            <div class="label label__pg"><%= anime.year %></div>
          <% end %>

        </header>
        <footer class="short__item-bottom">
          <div class="c__item-title">
            <%= anime.title %>
          </div>
          <span class="card__rate">
            <div class="card__short-rate ci__rate">
               <div class="card__short-rate--num"><%= anime.title_en %></div>
              <div class="card__short-rate--num"><%= anime.genres.join(', ') %></div>
            </div>
         </span>
        </footer>
      </a>
    </article>
  <% end %>

  <% if @animes.length == 0 %>
    Ничего не найдено
  <% end %>
</div>