<div>
  <div class="pb-3">
    <form method="get" id="search-form">
      <div class="inner-form">
        <div class="basic-search">
          <div class="input-field">
            <div class="icon-wrap">
              <i class="fas fa-search"></i>
            </div>
            <input id="search" name="q" type="text" value="<%= @query[:q] %>" placeholder="Поиск...">
          </div>
        </div>
        <div class="advance-search">
          <span class="desc">Расширенный поиск</span>
          <div class="row">
            <div class="col">
              <label for="year">Год выхода</label>
              <%= select_tag 'year', options_for_select((1978..2019), :selected=>@query[:year]),
                             include_blank: "Не указано", class: "form-control" %>
            </div>
            <div class="col">
              <label for="sort_by">Сортировать по</label>
              <%= select_tag 'sort_by',
                             options_for_select([
                                ['Рейтингу', 'rating_desc'],
                                ['Алфавиту (А-Я)', 'title_desc'],
                                ['Алфавиту (Я-А)', 'title_asc'],
                                ['Дате выхода (сначала новые)', 'year_desc'],
                                ['Дате выхода (сначала старые)', 'year_asc'],
                                ['Недавно обновлено', 'updated_at_desc'],
                                ['Недавно добавлены', 'created_at_desc'],
                             ], :selected=>@query[:sort_by]),
                             include_blank: "Не указано",
                             class: "form-control" %>
            </div>
            <div class="col">
              <label for="sort_by">Жанр</label>
              <%= select_tag 'genres',
                             options_for_select(Genre.all.map{ |u| [u.name, u.id] },
                                                :selected=>@query[:genres]),
                             multiple: true,
                             class: "form-control selectpicker" %>
            </div>
          </div>
          <div class="row third">
            <div class="input-field">
              <button class="btn-search">Найти</button>
              <button type="button" class="btn-delete" id="reset-form">Сбросить</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="flex-row">
    <% @animes.each do |anime| %>
      <%= render 'shared/anime/short', anime: anime %>
    <% end %>

    <% if @animes.length == 0 %>
      Ничего не найдено
    <% else %>

      <div class="col-12">
        <%= paginate @animes, window: 2 %>
      </div>

    <% end %>
  </div>
</div>