<div id="profile">
  <div class="full_header-bg">
    <div class="full_header__bg-img" style="background-image: url(<%= url_for(@user.background_path) %>);"></div>
  </div>

  <div class="main center container">
    <div class="clearfix">
      <div class="row block">
        <div class="col-12 col-sm-4 clearfix pb-3">
          <div class="row">
            <div class="col-6 col-sm-12">
              <%= image_tag url_for(@user.avatar_path), class: "rounded img-fluid" %>
            </div>
            <div class="col-12 col-sm-12">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Имя: <%= @user.name %></li>
                <li class="list-group-item">Прошлые имена: <%= @user.also_name.join(', ') %></li>
                <li class="list-group-item">Пол: <%= @user.gender_converted %></li>
                <li class="list-group-item">Язык: <%= @user.language_converted %></li>
                <% if @user.birthday %>
                  <li class="list-group-item">День рождения: <%= I18n.l(@user.birthday, format: :long) %></li>
                <% end %>
                <li class="list-group-item">Вайфу/Хазбанту: <%= @user.waifu_or_husbando || 'Не указано' %></li>
                <li class="list-group-item">О себе: <%= @user.about || 'Не указано' %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-8">
          <nav class="pl-3 pb-3">
            <div class="nav nav-pills" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-inprogress-tab" data-toggle="tab" href="#nav-inprogress" role="tab" aria-controls="nav-inprogress" aria-selected="true">В процессе</a>
              <a class="nav-item nav-link" id="nav-complited-tab" data-toggle="tab" href="#nav-complited" role="tab" aria-controls="nav-complited" aria-selected="false">Просмотренно</a>
              <a class="nav-item nav-link" id="nav-throw-tab" data-toggle="tab" href="#nav-throw" role="tab" aria-controls="nav-throw" aria-selected="false">Брошено</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-inprogress" role="tabpanel" aria-labelledby="nav-inprogress-tab">
              <div class="flex-row ">
                <% Anime.with_attached_poster.includes(:genres).limit(10).each do |anime| %>
                  <%= render 'shared/anime/short', anime: anime %>
                <% end %>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-complited" role="tabpanel" aria-labelledby="nav-complited-tab">
              Просмотрено
            </div>
            <div class="tab-pane fade" id="nav-throw" role="tabpanel" aria-labelledby="nav-throw-tab">
              Брошено
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>