<div id="profile">
  <div class="full_header-bg">
    <div class="full_header__bg-img" style="background-image: url(<%= url_for(@user.background_path) %>);"></div>
  </div>

  <div class="main center container">
    <div class="clearfix">
      <div class="row block">
        <div class="col-12 col-sm-3 clearfix pb-3">
          <div class="row">
            <div class="col-6 col-sm-12 ">
              <%= image_tag url_for(@user.avatar_path), class: "rounded img-fluid profile-image" %>
              <div class="profile-actions">
                <% if user_signed_in? and current_user.id == @user.id %>
                  <%= link_to raw('<i class="fas fa-edit"></i>'), edit_user_registration_path, class: "btn btn-primary btn-block" %>
                <% end %>
              </div>
            </div>
            <div class="col-12 col-sm-12">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Имя: <%= @user.name %></li>
                <li class="list-group-item">Прошлые имена: <%= @user.also_name.join(', ') %></li>
                <% unless @user.private_info %>
                  <li class="list-group-item">Пол: <%=  @user.gender_converted  %></li>
                  <li class="list-group-item">Язык: <%=  @user.language_converted  %></li>
                  <%  if @user.birthday  %>
                  <li class="list-group-item">День рождения: <%=  I18n.l(@user.birthday, format: :long)  %></li>
                  <%  end  %>
                  <li class="list-group-item">Вайфу/Хазбанту: <%=  @user.waifu_or_husbando || 'Не указано'  %></li>
                  <li class="list-group-item">О себе: <%=  @user.about || 'Не указано'  %></li>
                <% else %>
                  Пользователь скрыл информацию о себе
                <%  end %>
              </ul>
            </div>
          </div>
        </div>
        <% if @user.private_statuses %>
          Пользователь скрыл информацию о просмотрах
        <%  else  %>
          <div class="col-12 col-sm-9">
            <nav class="pl-3 pb-3">
              <div class="nav nav-pills" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-inprogress-tab" data-toggle="tab" href="#nav-inprogress" role="tab" aria-controls="nav-inprogress" aria-selected="true">Смотрю</a>
                <a class="nav-item nav-link" id="nav-planed-tab" data-toggle="tab" href="#nav-planed" role="tab" aria-controls="nav-planed" aria-selected="true">Запланировано</a>
                <a class="nav-item nav-link" id="nav-complited-tab" data-toggle="tab" href="#nav-complited" role="tab" aria-controls="nav-complited" aria-selected="false">Просмотрено</a>
                <a class="nav-item nav-link" id="nav-favorite-tab" data-toggle="tab" href="#nav-favorite" role="tab" aria-controls="nav-favorite" aria-selected="false">Любимое</a>
                <a class="nav-item nav-link" id="nav-throw-tab" data-toggle="tab" href="#nav-throw" role="tab" aria-controls="nav-throw" aria-selected="false">Брошено</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-inprogress" role="tabpanel" aria-labelledby="nav-inprogress-tab">
                <div class="flex-row ">
                  <%  @user.anime_statuses(:inprogress).each do |anime|  %>
                  <%=  render 'shared/anime/short', anime: anime  %>
                  <%  end %>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-planed" role="tabpanel" aria-labelledby="nav-planed-tab">
                <div class="flex-row ">
                  <%  @user.anime_statuses(:planed).each do |anime| %>
                  <%=  render 'shared/anime/short', anime: anime  %>
                  <%  end %>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-complited" role="tabpanel" aria-labelledby="nav-complited-tab">
                <div class="flex-row ">
                  <%  @user.anime_statuses(:completed).each do |anime| %>
                  <%=  render 'shared/anime/short', anime: anime  %>
                  <%  end %>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-favorite" role="tabpanel" aria-labelledby="nav-favorite-tab">
                <div class="flex-row ">
                  <%  @user.anime_statuses(:favorite).each do |anime| %>
                  <%=  render 'shared/anime/short', anime: anime  %>
                  <%  end %>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-throw" role="tabpanel" aria-labelledby="nav-throw-tab">
                <div class="flex-row ">
                  <%  @user.anime_statuses(:throw).each do |anime| %>
                  <%=  render 'shared/anime/short', anime: anime  %>
                  <%  end  %>
                </div>
              </div>
            </div>
          </div>
        <%  end %>
      </div>
    </div>
  </div>
</div>