<!DOCTYPE html>
<html>
<head>
  <title>Nekko.ch | <%= @title || 'Смотреть аниме' %></title>
  <meta name="HandheldFriendly" content="true">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="user-scalable=0, initial-scale=1.0, maximum-scale=1.0, width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <%= favicon_link_tag asset_path('icon.png') %>
  <meta name="Description" content="<%= @desc || 'Nekko.ch - это платформа для просмотора аниме не только на компьюторе, но и на телефоне. Смотреть аниме никогда не было так легко' %>">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= render 'shared/external' %>
</head>

<body>
<div class="wrap">
  <%= render 'shared/header' %>

  <div class="main center container">
    <div class="cols clearfix">
      <div class="cont">
        <div class="floaters clearfix grid-thumb" id="grid">
          <%= yield %>
        </div>
      </div>
      <!-- end cont -->
      <aside class="side" id="side">
        <div class="side-b">
          <div class="side-bt">
            <a href="/anime?sort_by=updated_at_desc" class="text-white">
              Последние обновления
            </a>
          </div>
          <div class="side-bc">

            <% Anime.where(hide: false).order(updated_at: :desc).limit(6).each do |anime| %>
              <%= render 'shared/anime/small', anime: anime %>
            <% end %>

          </div>
        </div>
        <div class="side-b">
          <div class="side-bt">
            <a href="/anime?sort_by=rating_desc" class="text-white">
              Наивысший рейтинг
            </a>
          </div>
          <div class="side-bc">

            <% Anime.where(hide: false).order(rating: :desc).limit(6).each do |anime| %>
              <%= render 'shared/anime/small', anime: anime %>
            <% end %>

          </div>
        </div>
        <div class="side-b">
          <div class="side-bt">Случайные аниме</div>
          <div class="side-bc">

            <% Anime.where(hide: false).order(Arel.sql("RANDOM()")).limit(6).each do |anime| %>
              <%= render 'shared/anime/small', anime: anime %>
            <% end %>

          </div>
        </div>
      </aside>
      <!-- end side -->
    </div>
    <!-- end cols -->
  </div>

  <%= render 'shared/footer' %>
</div>



</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</html>
